<app-page-template>
    <img image src="../../assets/education.jpg" />
    <span shortDescriptionHeader>Education</span>
    <span shortDescription class="projects-me-desc">
        My academic
        journey
        equipped me with the knowledge and analytical abilities essential for problem-solving and innovation in the
        technology
        sector. Through rigorous coursework and hands-on projects, I gained expertise in areas such as software
        development, web
        technologies, and database management. Beyond technical learning, my education fostered a strong sense of
        discipline,
        collaboration, and continuous curiosity, qualities that have become integral to my approach as a professional.
        My educational background serves as a
        cornerstone for my success, empowering me to contribute effectively to innovative projects and achieve impactful
        results.
    </span>
    <div mainContent>
        <div class="education-content d-flex flex-column justify-content-around">
            <span>
                <h5>B.Sc. in Computer Science</h5>
                <div class="education-desc">
                    <b>College :</b> Fergusson College, Pune
                    <br />
                    <b>CGPA :</b> 9.8
                    <br />
                    <b>Year:</b> 2017 - 2020
                </div>
            </span>
            <span>
                <h5>12th Standard</h5>
                <div class="education-desc">
                    <b>School :</b> Modern Vidya Niketan, Faridabad
                    <br />
                    <b>Percentage :</b> 83%
                    <br />
                    <b>Year :</b> 2016 - 2017
                </div>
            </span>
            <span>
                <h5>10th Standard</h5>
                <div class="education-desc">
                    <b>School :</b> Modern Vidya Niketan, Faridabad
                    <br />
                    <b>CGPA :</b> 9.0
                    <br />
                    <b>Year :</b> 2014 - 2015
                </div>
            </span>
        </div>
    </div>
</app-page-template>