<app-page-template>
    <img image src="assets/AR_withoutName.jpg" />
    <span shortDescriptionHeader>About Me</span>
    <span shortDescription class="about-me-desc">
        Crafting functional, visually appealing, and user-centric websites lies at the heart of modern digital
        innovation. I enjoy turning ideas into functional, visually appealing applications using technologies like
        Angular, .NET Core, and MySQL. Whether it’s crafting seamless user experiences or building robust backend
        systems, I’m always up for a challenge. When I’m not coding, you’ll find me exploring new tools, working on
        personal projects, or diving into the latest trends in tech. Feel free to explore my work and get in touch—I’d
        love to connect!
    </span>
    <div mainContent>
        <div class="about-me-content">Hi there! I’m a passionate web developer with a knack for creating intuitive and
            user-friendly websites. With a focus on clean code and responsive design, my projects highlight a blend of
            front-end aesthetics and back-end efficiency. I thrive in turning ideas into fully functional products.
            Proficiency in technologies like HTML, CSS, JavaScript, and frameworks such as Angular and , coupled with
            experience in version control systems like Git, underpins my technical skillset.
            Each project in this portfolio reflects a commitment to collaboration and adaptability. Working with diverse
            teams and clients has honed my ability to tailor solutions to unique challenges, ensuring both business
            goals and user expectations are met. Whether optimizing load times, implementing accessibility features, or
            integrating APIs, my approach is guided by industry best practices and a drive for continuous improvement.
            Beyond technical skills, my work demonstrates an appreciation for design principles. I believe that
            intuitive navigation and aesthetic appeal are as critical as functionality in creating meaningful digital
            experiences. As you explore this portfolio, you’ll find examples of projects that balance creativity and
            technical prowess, delivered with meticulous attention to detail.
            This collection represents more than just completed projects—it is a testament to growth, innovation, and a
            relentless pursuit of excellence in web development. I invite you to explore my work and see how technology
            can transform ideas into impactful online experiences.
        </div>
        <div class="skills-container">
            <div class="skill-content">
                <h5>Technical Skills</h5>
                <ul>
                    <li>Angular</li>
                    <li>MySQL & PostgreSQL</li>
                    <li>.NET Core Basics</li>
                    <li>Git Hub/Bitbucket</li>
                    <li>Bootstrap</li>
                    <li>WIJMO Basics</li>
                    <li>UI/UX Basics</li>
                    <li>Figma Basics</li>
                    <li>Git</li>
                </ul>
            </div>
            <div class="skill-content">
                <h5>Soft Skills</h5>
                <ul>
                    <li>Communication</li>
                    <li>Problem-Solving</li>
                    <li>Adaptability</li>
                    <li>Time Management</li>
                    <li>Teamwork</li>
                    <li>Creativity</li>
                    <li>Critical Thinking</li>
                    <li>Leadership and Initiative</li>
                </ul>
            </div>
            <div class="skill-content">
                <h5>Hobbies</h5>
                <ul>
                    <li>UI/UX Designing</li>
                    <li>Yoga</li>
                    <li>Cycling</li>
                    <li>Reading</li>
                    <li>Calligraphy</li>
                    <li>Swimming</li>
                    <li>Listening to Music</li>
                </ul>
            </div>
        </div>
    </div>
</app-page-template>