<app-page-template>
    <img image src="../../assets/experience.jpg" />
    <span shortDescriptionHeader>
        Experience
    </span>
    <span shortDescription class="experience-desc">
        <span>
            I have 4 years of experience in the IT industry, including 2 years focused on web development. I’ve had the
            privilege of
            working with talented teams and supportive management, making my journey both rewarding and enriching. My
            work involves
            developing scalable, user-friendly applications and delivering high-quality solutions aligned with business
            goals. I am
            dedicated to continuous learning, staying updated with emerging technologies, and applying innovative
            approaches to
            solve complex challenges. My experience has equipped me with strong technical skills and a commitment to
            creating
            impactful solutions that contribute to business success.
        </span>
    </span>
    <div mainContent>
        <div class="experience-content">
            <div class="timeline-container">
                <div class="timeline"></div>
                <div class="d-flex flex-column justify-content-between ends">
                    <span class="d-flex">
                        <div class="timeline-ends"></div>To Date
                    </span>
                    <span class="d-flex">
                        <div class="timeline-ends"></div>Feb 2023
                    </span>
                    <span class="d-flex">
                        <div class="timeline-ends"></div>Dec 2020
                    </span>
                </div>
            </div>
            <div class="d-flex flex-column justify-content-around">
                <div class="job">
                    <h6 class="font-weight-bold">Senior Software Developer, Coforge</h6>
                    <div class="job-desc">
                        I have gained extensive experience working on projects utilizing technologies such as Angular,
                        .NET
                        Core, MySQL, and VB.NET, which has significantly expanded my technical expertise in web
                        development.
                        I excel at effectively communicating development goals and technical requirements, ensuring
                        clarity
                        and alignment among stakeholders and team members. My work includes designing and implementing a
                        custom library of Angular components tailored to specific project needs, as well as acquiring
                        expertise in the WIJMO library to deliver advanced functionality. Additionally, I have
                        researched
                        and integrated .NET Core APIs to enhance system performance and capabilities and developed
                        robust
                        backend processes using MySQL to streamline data management and improve overall system
                        efficiency.
                    </div>
                </div>
                <div class="job">
                    <h6 class="font-weight-bold">Senior Operations Executive, Infosys</h6>
                    <div class="job-desc">
                        I have demonstrated the ability to maintain workflow effectively in fast-paced environments
                        while
                        serving as a liaison between development teams, application services, and business units, often
                        functioning as a subject
                        matter expert (SME). My experience includes working with systems such as AWS, RDS, ServiceNow
                        (SNOW), and Active Directory (AD). I have provided installation and troubleshooting support to
                        user
                        support specialists and service desk technicians, ensuring seamless operations. Additionally, I
                        have
                        responded to system failures, collaborated with service providers to resolve discrepancies, and
                        developed detailed installation and configuration procedures. My role also involved implementing
                        system configuration changes based on project requirements and working collaboratively with all
                        levels of internal management while leveraging internal resources effectively.
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-page-template>