<app-page-template>
    <img image src="assets/projects.jpg" />
    <span shortDescriptionHeader>Projects</span>
    <span shortDescription class="projects-me-desc">
        I have taken the initiative to work on personal projects beyond my professional responsibilities, showcasing my
        passion
        for development and continuous learning. These projects demonstrate my ability to build full-stack applications,
        leveraging the Angular framework for front-end development to create intuitive and responsive user interfaces.
        On the
        back end, I have utilized .NET Core to implement robust APIs and functionality, ensuring seamless communication
        between
        application layers. For database integration, I have worked with MySQL to manage and organize data efficiently.
        I
        invite you to explore these projects to gain insights into my hands-on experience and development approach.
    </span>
    <span mainContent>
        <div class="projects-content">
            <h5>Portfolio</h5>
            <div class="project-desc">
                This project was designed to showcase achievements and foster connections with individuals. It was
                meticulously
                developed using the Angular framework, ensuring a robust and dynamic user experience. Comprehensive
                design layouts were
                created and implemented using custom CSS and the Bootstrap framework to enhance visual appeal and
                responsiveness.
                Additionally, an API was integrated to enable real-time notifications, ensuring the owner is promptly
                alerted whenever
                someone expresses interest in making a connection, streamlining communication and interaction.
                <br />
                Access the site using the provided link : <a
                    href="https://aditirekhi.github.io/SannskarGupta/">https://aditirekhi.github.io/SannskarGupta/</a>
            </div>
        </div>
    </span>
</app-page-template>